.App {
  text-align: center;
}


.App-header {
  background-color: #9cee91;
  color: black;
}

.App-link {
  color: #61dafb;
}

.titulo {
  color: green;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  margin-right: 170px;
}

